.profile {
  height: auto;
  width: 1170px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  background-color: white;
    box-shadow: 0px 0px 8px 1px;
    border-radius: 25px;
  padding: 25px;
  input {
    animation: effect3 1s ease-in-out;

    width: 290px;
    padding: 10px 10px;
    border-radius: 20px;
    border: 3px solid #f35f51;
    outline: none;
    margin-bottom: 30px;
    box-shadow: 0px 4px 0px 0px #243a7e;
  }
  select {
    animation: effect3 1s ease-in-out;

    width: 290px;
    padding: 10px 10px;
    border-radius: 20px;
    border: 3px solid #f35f51;
    outline: none;
    margin-bottom: 30px;
    box-shadow: 0px 4px 0px 0px #243a7e;
  }
  h2 {
    font-size: 25px;
    color: #243a7e;
    // text-shadow: 5px 5px 20px #333;
    i {
      color: #f35f51;
      font-style: normal;
    }
  }
  .profile__left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 100px;
    .profile__left_btns {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-top: 25px;
    }
  }
}
label {
  margin-bottom: 20px;
  position: relative;
  border: none;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 10px 25px;
  border-radius: 20px;
  color: white;
  text-transform: uppercase;
  background-color: #f35f51;
  font-weight: 500;
  box-shadow: 0px 6px 0px 0px #243a7e;
  transition: 0.2s;
  animation: effect3 1s ease-in-out;
}
label:active {
  background-color: #f7766b;
  box-shadow: 0px 4px 0px 0px #243a7e;
  top: 2px;
}
@keyframes effect3 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
