.mainPage {
  height: auto;
  width: 1170px;
  margin: 0 auto;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .section {
    width: 100%;
    height: 100vh;
    padding-top: 75px;
    // background: #ccc;
    text-align: center;
    // color: #fff;
    font-size: 3em;
  }
  .go {
    margin-top: 50px;
  }
}
