.footer {
  margin-top: auto;
  width: 100%;
  background-color: white;
  border-top-left-radius: 20px;
  color: #424242;
  border-top-right-radius: 20px;
  -webkit-box-shadow: 1px -8px 8px -5px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 1px -8px 8px -5px rgba(34, 60, 80, 0.2);
  box-shadow: 1px -8px 8px -5px rgba(34, 60, 80, 0.2);
  .footer__content {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 20px 0px;
    .footer__content_right {
      width: 15%;
      .footer__content_right-social {
        display: flex;
        justify-content: space-between;
        img {
          width: 15px;
          cursor: pointer;
        }
      }
    }
    .footer__content_left {
      img {
        width: 150px;
      }
    }
  }
}
